body{
	margin: 0;
	padding: 0;
}

form, table, td, div, label, p, a{
	border: black solid 1px;
}

a{
	text-decoration: none;
	color: black;
	display: block;
	width: fit-content;
	font-family: Arial, sans-serif;
	margin: 20px 50px;
}

#botaoCadastrar{
	font-size: 14pt;
	padding: 7px 14px;
	border-radius: 5px;
}

#formPrincipal{
	width: 400px;
	padding: 20px;
	margin: auto;
	font-size: 14pt;
	font-family: Arial, sans-serif;
	display: none;
}
#formExcluir{
	width: 280px;
	height: 80px;
	display: none;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
	padding: 7px;
	margin: auto;
}
#formExcluir input{
	width: 100px;
	height: 30px;
}
#formPrincipal *{
	margin: 5px;
}
#formPrincipal input[type='text'], #formPrincipal input[type='date'], #formPrincipal input[type='tel'], #formPrincipal input[type='email']{
	font-size: 12pt;
	width: 290px;
}
#areaSexo{
	margin: 10px;	
}

#formPrincipal label{
	display: block;
	margin-top: 17px;
}
#areaSexo label{
	display: inline;
}
label, div{
	width: fit-content;
}
#formPrincipal input[type='submit']{
	display: block;
	width: 370px;
	margin: auto;
	font-size: 13pt;
	margin-top: 25px;
	height: 40px;
}
p{
	margin-top: 0;
}

table{
	margin-left: 20px;
	border-collapse: collapse;
	font-family: Arial, sans-serif;
}
#linhaAtributosTabela td{
	text-align: center;
	font-size: 13pt;
	padding: 5px 15px;
}
.linhaInstanciasTabela td{
	font-size: 11pt;
	padding: 4px;
}
.tabelaEditarExcluir{
	display: flex;
	padding: 4px 7px;
}
.tabelaEditarExcluir a{
	margin: 0px 4px;
	padding: 2px 6px;
}
#botaoEditar{
	padding: 2px 8px;  
}

